# Valores somente para validar os Compose localmente. Nunca use estes valores
# para apontar HML para os volumes de produção.
LOBBY_DOMAIN=hml.gamegamegame.site
WHOAMI_DOMAIN=hml-whoami.gamegamegame.site
IMPOSTOR_DOMAIN=hml-impostor.gamegamegame.site
CARACOL_DOMAIN=hml-caracol.gamegamegame.site
LAFARMER_DOMAIN=hml-lafarmer.gamegamegame.site

WEB_DOMAIN=hml-lafarmer.gamegamegame.site
POSTGRES_DB=lafarmer_staging
POSTGRES_USER=lafarmer_staging
POSTGRES_PASSWORD=replace-locally
DATABASE_URL=postgresql://lafarmer_staging:replace-locally@postgres:5432/lafarmer_staging
SESSION_SECRET=replace-locally

# Volumes exclusivos do HML. Não substitua por nomes de produção.
CARACOL_POSTGRES_VOLUME=gamegamegame-staging-caracol-postgres
LAFARMER_POSTGRES_VOLUME=gamegamegame-staging-lafarmer-postgres

CARACOL_POSTGRES_PASSWORD=replace-locally
CARACOL_HML_POSTGRES_PASSWORD=replace-locally
CARACOL_VAPID_PUBLIC_KEY=replace-locally
CARACOL_VAPID_PRIVATE_KEY=replace-locally
CARACOL_VAPID_SUBJECT=mailto:caracol-hml@gamegamegame.site

LAFARMER_POSTGRES_DB=lafarmer_staging
LAFARMER_POSTGRES_USER=lafarmer_staging
LAFARMER_POSTGRES_PASSWORD=replace-locally
LAFARMER_HML_POSTGRES_PASSWORD=replace-locally
LAFARMER_SESSION_SECRET=replace-locally
