PORT=3001
HOST=0.0.0.0
PUBLIC_ORIGIN=http://localhost:5174
CARACOL_DATABASE_URL=
CARACOL_VAPID_PUBLIC_KEY=
CARACOL_VAPID_PRIVATE_KEY=
CARACOL_VAPID_SUBJECT=mailto:caracol@gamegamegame.site
VITE_SERVER_URL=
VITE_LOBBY_URL=https://gamegamegame.site
